{% extends "blog/base.html" %}
{% block content %}
  <h3>U dubinu</h3>
  <br>
  <p>
    Ova stranica je studentski projekt nastao iz zabave i zbog učenja.
    Slobodno isprobajte stranicu sa izmišljenim imenima i mailom :)
    <br>
    Za sada funkcionira samo kao blog, omogućuje registraciju, prijavu i objavu postova.
    Uskoro planiram dodati mogućnost komentiranja, lajkanja i uređivanja javnog profila.
  </p>
  <p>
    [eng]
    <br>
    This page is student project made for learning purposes and fun.
    Feel free to make account with fake name and mail :)
    <br>
    This page has basic blog functionality.
    Post comments, likes, and public user profiles coming soon.
    
  </p>
{% endblock content %}